nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid black;
  width: 400px;
  height: 229px;
  background: whitesmoke;
  margin-left: 760px;

  opacity: 0.9;
}
.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  color: rgb(63, 37, 78);
  background-color: rgb(25, 192, 207);
  font-size: 25px;
  opacity: 0.7;
}
.links-container {
  display: flex;
  width: 100vw;
  margin-bottom: 50x;
  justify-content: space-evenly;
  color: whitesmoke;
  font-size: 30px;
}
.links {
  text-decoration: none;
  color: rgb(35, 35, 255);
}
.add-link {
  text-decoration: none;
  color: rgb(35, 35, 255);

  font-size: 40px;
  margin-top: -20px;
  margin-left: 10px;
}
