.listings-info {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-wrap: wrap;
}
.listings-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  width: 100%;
}
.listings-form {
  border: 10px solid black;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  height: 500px;
  color: rgb(12, 12, 36);
}
.more-info-button {
  margin-left: 30%;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: blue;
}
.description {
  align-items: center;
  display: flex;
  justify-content: center;
}
